Follow these:
* https://medium.com/datactw/imdb-dataset-visualization-data-analytics-using-pandas-97b5c6f03c6d

In [1]:
%%bash
pip install -q --upgrade pip
pip install -q pandas==0.23.0
pip install -q numpy==1.14.3
pip install -q matplotlib==3.0.3
pip install -q seaborn==0.8.1
pip install -q PyAthena==1.8.0

In [2]:
# Imports & Settings

import boto3
import sagemaker

import numpy as np
import pandas as pd
import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format='retina'

# Get region 
session = boto3.session.Session()
region_name = session.region_name

# Get SageMaker session & default S3 bucket
sagemaker_session = sagemaker.Session()
bucket = sagemaker_session.default_bucket()

# Set Athena database & table 
database_name = 'dsoaws'
table_name = 'amazon_reviews_parquet'

In [3]:
# PyAthena imports
from pyathena import connect
from pyathena.pandas_cursor import PandasCursor
from pyathena.util import as_pandas

In [4]:
# Set S3 staging directory -- this is a temporary directory used for Athena queries
s3_staging_dir = 's3://{0}/athena/staging'.format(bucket)

In [5]:
sns.set_style = 'seaborn-whitegrid'

sns.set(rc={"font.style":"normal",
            "axes.facecolor":"white",
            'grid.color': '.8',
             'grid.linestyle': '-',
            "figure.facecolor":"white",
            "figure.titlesize":20,
            "text.color":"black",
            "xtick.color":"black",
            "ytick.color":"black",
            "axes.labelcolor":"black",
            "axes.grid":True,
            'axes.labelsize':10,
           'figure.figsize':(10.0, 10.0),
            'xtick.labelsize':10,
            'font.size':10,
            'ytick.labelsize':10})

In [6]:
# Helper code to display values on bars

def show_values_barplot(axs, space):
    def _show_on_plot(ax):
        for p in ax.patches:
            _x = p.get_x() + p.get_width() + float(space)
            _y = p.get_y() + p.get_height()
            value = round(float(p.get_width()),2)
            ax.text(_x, _y, value, ha="left")

    if isinstance(axs, np.ndarray):
        for idx, ax in np.ndenumerate(axs):
            _show_on_plot(ax)
    else:
        _show_on_plot(axs)

# At the product level, find the correlation between `count_reviews` and `avg_star_rating`.

In [45]:
# SQL statement
statement = """
SELECT product_id, COUNT(*) AS count_reviews, AVG(star_rating) AS avg_star_rating
FROM {}.{} 
TABLESAMPLE BERNOULLI(10)
GROUP BY product_id
LIMIT 1000
""".format(database_name, table_name)

print(statement)

SELECT product_id, COUNT(*) AS count_reviews, AVG(star_rating) AS avg_star_rating
FROM dsoaws.amazon_reviews_parquet
TABLESAMPLE BERNOULLI(10)
GROUP BY product_id
LIMIT 1000

In [46]:
cursor = connect(region_name=region_name, s3_staging_dir=s3_staging_dir).cursor()
cursor.execute(statement)

# Load query results into Pandas DataFrame and show results
df = as_pandas(cursor)
df

     product_id  count_reviews  avg_star_rating
0    B000G1ODEC              1         5.000000
1    0780022025              2         5.000000
2    6301730038              1         4.000000
3    6302550424              1         5.000000
4    B00005QATI              1         5.000000
5    B000059HCN              4         3.750000
6    B00005QATY              8         4.625000
7    B000056BRB              1         2.000000
8    B00004REDL              1         5.000000
9    630192990X              2         5.000000
10   6303032435              3         3.333333
11   6302718880              1         5.000000
12   B000050NS2              2         4.000000
13   0783235593              1         5.000000
14   6303442366              2         3.000000
15   B00004YRX2              1         1.000000
16   B000MQ6TGG              1         5.000000
17   B000FJQHBW              1         5.000000
18   630192827X              1         5.000000
19   B000NTZLWU              1         1.000000
20   6301486404              1         5.000000
21   B00004CSO5              1         5.000000
22   B00007L4MT              1         1.000000
23   B00005YUR7              2         4.500000
24   0965381889              2         5.000000
25   630443507X              1         1.000000
26   6304773382              3         4.000000
27   6301801261              2         1.500000
28   6302862787              5         3.800000
29   0790732475              8         1.125000
..          ...            ...              ...
970  B002PQ8SWE              1         3.000000
971  B000WMAT2A              1         1.000000
972  B00125R46A              1         5.000000
973  B002VCYVAU              1         5.000000
974  B0017TH20E              2         5.000000
975  1604186283              2         4.500000
976  B00OELKY9S              1         2.000000
977  B00024VU30              1         5.000000
978  B00J2BEKJ0              1         1.000000
979  B004INNC64              5         3.400000
980  B00HC14LL4              2         5.000000
981  B00PXN3X8U              2         4.500000
982  1604181338              1         1.000000
983  B00E4TAQWA              1         4.000000
984  B000J0AYJ8              1         5.000000
985  B00CUU90FY             16         4.437500
986  B00RBZY4AE              1         1.000000
987  B009E31TYU              1         2.000000
988  B004X4N1C8              7         4.428571
989  B00DUNHMV4              2         5.000000
990  B009UOEMTM              1         5.000000
991  B007JUV49K              1         5.000000
992  B00GG6QQ46              2         5.000000
993  B006QV5XOK              1         5.000000
994  B00294KH4Y              1         5.000000
995  B004J0BY2A              1         5.000000
996  B005EHG2RY              1         2.000000
997  B000EWNW8Q              1         5.000000
998  B003AJZJUO              4         5.000000
999  B003VJTCSI              1         5.000000

[1000 rows x 3 columns]

In [47]:
df.corr()

                 count_reviews  avg_star_rating
count_reviews         1.000000         0.029016
avg_star_rating       0.029016         1.000000

# At the review level, find the correlation between `helpful_votes` and `star_rating`.

In [48]:
# SQL statement
statement = """
SELECT helpful_votes, star_rating
FROM {}.{}
TABLESAMPLE BERNOULLI(10)
LIMIT 1000
""".format(database_name, table_name)

print(statement)

SELECT helpful_votes, star_rating
FROM dsoaws.amazon_reviews_parquet
TABLESAMPLE BERNOULLI(10)
LIMIT 1000

In [49]:
cursor = connect(region_name=region_name, s3_staging_dir=s3_staging_dir).cursor()
cursor.execute(statement)

# Load query results into Pandas DataFrame and show results
df = as_pandas(cursor)
df

     helpful_votes  star_rating
0               56            5
1               35            3
2                1            5
3                2            1
4                2            1
5                5            5
6                0            1
7                2            1
8                1            5
9                0            5
10               0            5
11               0            5
12               0            5
13               2            5
14               6            4
15               4            4
16               0            5
17              13            5
18               0            5
19               0            1
20               1            4
21               0            5
22               9            1
23              10            1
24               0            4
25               0            5
26               0            5
27               0            5
28               0            4
29               0            5
..             ...          ...
970              0            5
971              0            5
972              0            5
973             11            2
974              1            4
975              0            5
976              0            5
977              0            5
978              0            5
979              1            3
980              0            5
981              0            5
982              0            5
983              2            3
984              0            5
985              1            5
986              0            1
987              0            1
988              0            5
989              0            5
990              0            5
991              0            4
992              0            5
993              0            4
994              0            5
995              2            4
996              0            4
997              0            5
998              0            1
999              0            5

[1000 rows x 2 columns]

In [50]:
df.corr()

               helpful_votes  star_rating
helpful_votes       1.000000    -0.009259
star_rating        -0.009259     1.000000

# At the review level, find the correlation between `length(review_body)` and `star_rating`.

In [52]:
# SQL statement
statement = """
SELECT product_id, LENGTH(review_body) as length_review_body, star_rating
FROM {}.{}
TABLESAMPLE BERNOULLI(10)
LIMIT 1000
""".format(database_name, table_name)

print(statement)

SELECT product_id, LENGTH(review_body) as length_review_body, star_rating
FROM dsoaws.amazon_reviews_parquet
TABLESAMPLE BERNOULLI(10)
LIMIT 1000

In [53]:
cursor = connect(region_name=region_name, s3_staging_dir=s3_staging_dir).cursor()
cursor.execute(statement)

# Load query results into Pandas DataFrame and show results
df = as_pandas(cursor)
df

     product_id  length_review_body  star_rating
0    B00943M2F0                  37            1
1    B005IFC47E                 443            3
2    B00ARSOX1W                  16            4
3    B00R280UQM                 125            5
4    B00FYQ1NJ2                 396            3
5    B00J2BMN4Y                 163            5
6    B00KKXCJQU                 108            5
7    B00AO6I0M0                 727            4
8    B00WSBF0VI                  18            5
9    B00MNAG4MI                 308            4
10   B002NU6F8Q                 518            2
11   B005AIIYYG                 215            5
12   B010SJGDIA                 379            5
13   B00GIHA7U2                   4            3
14   B006HMQUNG                 666            5
15   B00M2EQNLC                   9            5
16   B00MVO7JJI                  14            5
17   B004G7V9EO                  34            2
18   B004MKMHWS                  83            5
19   B00FDM5YDI                 126            1
20   B008M6ZDO2                 159            5
21   B001F2F3UE                 124            5
22   B00W55HW7C                  56            3
23   B0054IH5PQ                 406            4
24   B0039MR93M                 112            2
25   B00MNAG4MI                  52            1
26   B001TR0UZI                 345            5
27   B002NU6FAE                  14            4
28   B00MWC7K66                  51            5
29   B00OCVYNEW                 133            5
..          ...                 ...          ...
970  B004LLIKVU                   8            5
971  B004LLIKVU                  10            5
972  B004LLIKVU                  61            5
973  B0066AZGD4                 126            4
974  B00CT77PFK                 124            5
975  B00GXSCZVK                  16            5
976  B00BWDH54I                  70            5
977  B00B2TFM3I                  39            5
978  B0066AZGD4                  49            5
979  B004LLIKVU                   3            5
980  BT00DDVMVQ                  25            5
981  B005ESMHV8                   9            5
982  B004LLIKVU                   6            5
983  B00CRQ4XA8                 148            4
984  B007V6EVY2                  90            5
985  B0066AZGJI                  12            5
986  B004LLIKVU                  12            5
987  B00G4IV2VI                   9            5
988  B00G4IWEZG                  23            5
989  B004LLIKVU                  70            4
990  B008EN466O                  62            5
991  B00BWDH368                  16            5
992  BT00CTOYI4                  14            5
993  B004LLIKVU                  28            4
994  B004LLIKY2                   7            5
995  B004LLIKVU                  89            5
996  B007V6EVY2                  14            5
997  B004LLIKVU                  30            5
998  B00B2TFURQ                  33            4
999  B004LLIKVU                  45            5

[1000 rows x 3 columns]

In [54]:
df.corr()

                    length_review_body  star_rating
length_review_body              1.0000      -0.1662
star_rating                    -0.1662       1.0000